body{
	background-color: #000000;
}

#game{
	//background-color: #616789;
	margin: auto;
	position: relative;
}

#right_panel{
	position: absolute;
	background: #262B3D;
	border-radius: 5px;
}

#play_area{
	background-color: #BBBBBB;
	top: 0px;
	left: 150px;
	margin: auto;
	position: absolute;
}

#controls{
	position: absolute;
}